* {background-color: #111e1e;}

#board *, #board *:after, #board *:before {
/*  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;*/
}

#board {
  margin: 50px auto;
  width: 600px;
  height: 600px;
  /*-ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);*/
}

#c0, #c1, #c3, #c4 {
  border-right: 5px solid #ff8007;
  border-bottom: 5px solid #ff8007;
}

#c5 {
  border-top: 5px solid #ff8007;
  border-bottom: 5px solid #ff8007;
}

#c7 {
  border-right: 5px solid #ff8007;
  border-left: 5px solid #ff8007;
}

body {
  font-size: 14px;
  padding-bottom: 4em;
}

 .center-text {
  text-align: center;
 }

.cell{
  width: 200px;
  height: 200px;
  /*padding: 0;*/

  text-align: center;
  font-size: 150px;
  color: #ff8007;
}

.cells {
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  width: 100%;
 }
