* {background-color: #111e1e;}

#splash {
  display: inline-block;
  position: absolute;
  top: 12.1%;
  left: 25%;
  width: 50%;
  height: 375px;
  background-color: #203745;
  border: 6px solid #265867;
  border-radius: 3px;

  color: #ff8007;
}

.splash-button {
  position: absolute;
  bottom: 0px;
  width: 70px;
  margin: 15px;
}

#generation {
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: 1px solid #265867;
  color: #265867;
}

#content {
  display: inline-block;
  vertical-align: top;
  width: 67%;
  margin: 0px auto 0px 20px;
  border: 1px solid #265867;
}

#training {
  padding: 15px;

}

#controls {
  display: inline-block;
  vertical-align: top;
}

.control-button {
  display: block;
  width: 10em;
  color: #265867;
}

#back {
  right: 85px;
}

#next {
  right: 0px;
}

.board {
  margin: 50px auto;
  width: 600px;
  height: 600px;
}

.miniboard {
  width: 60px;
  height: 60px;

  font-size: 14px;
}

.board_element > td {
  padding: 0px 15px 5px 15px;
}

.board .c0, .board .c1, .board .c3, .board .c4 {
  border-right: 5px solid #ff8007;
  border-bottom: 5px solid #ff8007;
}

.board .c5 {
  border-top: 5px solid #ff8007;
  border-bottom: 5px solid #ff8007;
}

.board .c7 {
  border-right: 5px solid #ff8007;
  border-left: 5px solid #ff8007;
}


.miniboard .c0, .miniboard .c1, .miniboard .c3, .miniboard .c4 {
  border-right: 2px solid #ff8007;
  border-bottom: 2px solid #ff8007;
}

.miniboard .c5 {
  border-top: 2px solid #ff8007;
  border-bottom: 2px solid #ff8007;
}

.miniboard .c7 {
  border-right: 2px solid #ff8007;
  border-left: 2px solid #ff8007;
}

body {
  padding-bottom: 4em;
}

.center-text {
  text-align: center;
}

.cell{
  width: 18px;
  height: 18px;

  text-align: center;
  color: #ff8007;
}

.cells {
  display: flex;
  overflow: auto;
  width: 100%;
 }
