body {background-color: #163545;}  /*111e1e*/

#splash {
  display: none;
}

.splash-button {
  position: absolute;
  bottom: 0px;
  width: 70px;
  margin: 15px;
}

#back {
  right: 85px;
}

#next {
  right: 0px;
}

.modal {
  display: inline-block;
  position: absolute;
  top: 12.1%;
  left: 25%;
  background-color: #203745;
  border: 6px solid #467887;
  border-radius: 3px;
  z-index: 1;

  color: #ff8007;
  
}

#challenge {
  display: none;
  background-color: #111e1e;
}

/*#challenge-view {
  margin: 0px;
}*/

#container {
  min-width: 1200px;
  z-index: 0;
}

#training-view {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  /*height: 850px;*/
  /*min-width: 1200px;*/
  border: 1px solid #467887;
  margin: 0px auto 0px 20px;
  background-color: #111e1e;
}

#generation {
  margin: 0px;
  padding: 0px;
  border: 1px solid #467887;
  text-align: center;
  font-size: 32px;
  color: #4A7C8B;
}


#training {
  margin: 0px;
  padding: 15px 0px;
  border: 1px solid #467887;
}

tbody {
  margin: auto;
}

.board_element > td {
  padding: 2px 0px 2px 0px;
}

.board {
  margin: 0px;
  /*min-width: ???;*/
  width: 598px;
  height: 598px;

  font-size: 128px;
}

.board .c0, .board .c1, .board .c3, .board .c4 {
  border-right: 5px solid #ff8007;
  border-bottom: 5px solid #ff8007;
}

.board .c5 {
  border-top: 5px solid #ff8007;
  border-bottom: 5px solid #ff8007;
}

.board .c7 {
  border-right: 5px solid #ff8007;
  border-left: 5px solid #ff8007;
}

.miniboard {
  width: 90px;
  min-width: 60px;
  height: 60px;

  font-size: 14px;
}

.miniboard .c0, .miniboard .c1, .miniboard .c3, .miniboard .c4 {
  border-right: 2px solid #ff8007;
  border-bottom: 2px solid #ff8007;
}

.miniboard .c5 {
  border-top: 2px solid #ff8007;
  border-bottom: 2px solid #ff8007;
}

.miniboard .c7 {
  border-right: 2px solid #ff8007;
  border-left: 2px solid #ff8007;
}

/*.center-text {
  text-align: center;
}*/

.miniboard .cells {
  display: flex;
  overflow: auto;
  width: 100%;
}

.cell {
  text-align: center;
  color: #ff8007;
}

.board .cell {
  width: 196px;
  min-width: 196px;
  height: 196px;
}

.miniboard .cell {
  width: 18px;
  min-width: 18px;
  height: 18px;

/*  text-align: center;
  color: #ff8007;*/
}

#controls {
  display: inline-block;
  vertical-align: top;
  margin: 0px 25px;
}

.control-button {
  display: block;
  min-width: 200px;
  width: 100%;
  margin: 12px auto;
  padding: 0px;
  height: 70px;
  background-color: #111e1e;
  border-width: 3px;
  
  color: #4A7C8B;
  word-wrap: break-word;
}

#start {
  margin-top: 0px;
}

#ai-controls {
  opacity: 0.4;
}

.ai-control-container {
  margin: 15px 0px;
  padding: 10px;
  border: 3px solid #111e1e;
  color: #ff8007;
}

input {
  margin: 10px 0px;
  background-color: #256857;
}

.text-input {
  min-width: 200px;
  width: 100%;
  margin: 5px 0px 20px 0px;
}

label {
  color: #4A7C8B;
}

#weights {
  margin: 15px 0px 10px 0px;
  color: #ff8007;
}

form * {
  opacity: 1.0;
}




input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #467887;
  border-radius: 1.8px;
  border: 0.2px solid #223545;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #223545;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #467887;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #467887;
  border-radius: 1.8px;
  border: 0.2px solid #223545;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #223545;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #467887;
  border: 0.2px solid #223545;
  border-radius: 3.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #467887;
  border: 0.2px solid #223545;
  border-radius: 3.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #223545;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  height: 22px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #467887;
}
input[type=range]:focus::-ms-fill-upper {
  background: #467887;
}
