<div id="splash" class="modal">
	<div id="button-container">
		<button id="close" class="splash-button">x</button>
	  <button id="back" class="splash-button">   < back   </button>
	  <button id="next" class="splash-button">   next >   </button>
  </div>
</div>

<div id="challenge" class="modal">
	<div id="challenge-view">
		<span>You are playing as 'X'</span><span>You WIN!</span>
		<div id="challenge-board" class="board">
			<%= erb :_board %>
		</div>
  </div>
</div>

<div id="container">	

	<div id="training-view">

		<div id="generation">Generation</div>
		<div id="training">
			<table>
				<% @row_size.times do |row| %>
					<tr class="board_element">
						<% @column_size.times do |column| %>
							<td id="board<%= row * @column_size + column + 1 %>" class="miniboard"><%= erb :_board %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>

	</div>

	<div id="controls">
		<button id="start" class="control-button">Start</button>
		<button id="pause" class="control-button">Pause</button>
		<button id="stop" class="control-button">Stop & Play Against Best Player</button>
		
		<form id="ai-controls">
			<div class="ai-control-container">
				<input type="radio" id="fast" name="speed" value="" checked><label for="fast"> Fast</label><br>
				<input type="radio" id="medium" name="speed" value=""><label for="medium"> Medium</label><br>
				<input type="radio" id="slow" name="speed" value=""><label for="slow"> Slow</label><br>
			</div>
			<div class="control-container"><input type="checkbox"> Elites</div>
			<div>
				<label>Mutation Rate</label><br>
				<input class="text-input" type="text">
			</div>

			<div>
			<div id="weights">Points Assigned for Game Result:</div>
				<div><label>Player 1 Wins</label><br><input class="text-input" type="text"></div>
				<div><label>Player 2 Wins</label><br><input class="text-input" type="text"></div>
				<div><label>Game is Tied</label><br><input class="text-input" type="text"></div>
			</div>
		</form>


	</div>

</div>


