<div id="splash" class="modal">
	<div id="button-container">
		<button id="close" class="splash-button">x</button>
	  <button id="back" class="splash-button">   < back   </button>
	  <button id="next" class="splash-button">   next >   </button>
  </div>
</div>

<div id="challenge" class="modal">
	<div id="challenge-view">
		<span>You are playing as 'X'</span><span>You WIN!</span>
		<div id="challenge-board" class="board">
			<%= erb :_board %>
		</div>
  </div>
</div>

<div id="container">	

	<div id="training-view">

		<div id="generation">Generation</div>
		<div id="training">
			<table>
				<% @row_size.times do |row| %>
					<tr class="board_element">
						<% @column_size.times do |column| %>
							<td id="board<%= row * @column_size + column + 1 %>" class="miniboard"><%= erb :_board %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>

	</div>

	<div id="controls">
		<button id="start" class="control-button">Start</button>
		<button id="pause" class="control-button">Pause</button>
		<button id="stop" class="control-button">Stop</button>
	</div>

</div>


