<div><a href="/player_mode">Player Mode</a><a href="/training_mode">Training Mode</a></div>
<div id="board">
  <table class="cells">
  	<tr>
	    <td class="c0 cell"></td>
	    <td class="c1 cell"></td>
	    <td class="c2 cell"></td>
    </tr>
    <tr>
	    <td class="c3 cell"></td>
	    <td class="c4 cell"></td>
	    <td class="c5 cell"></td>
    </tr>
    <tr>
	    <td class="c6 cell"></td>
	    <td class="c7 cell"></td>
	    <td class="c8 cell"></td>
    </tr>
  </table>
</div>
<div id="board2">
  <table class="cells">
  	<tr>
	    <td class="c0 cell"></td>
	    <td class="c1 cell"></td>
	    <td class="c2 cell"></td>
    </tr>
    <tr>
	    <td class="c3 cell"></td>
	    <td class="c4 cell"></td>
	    <td class="c5 cell"></td>
    </tr>
    <tr>
	    <td class="c6 cell"></td>
	    <td class="c7 cell"></td>
	    <td class="c8 cell"></td>
    </tr>
  </table>
</div>
<div id="board3">
  <table class="cells">
  	<tr>
	    <td class="c0 cell"></td>
	    <td class="c1 cell"></td>
	    <td class="c2 cell"></td>
    </tr>
    <tr>
	    <td class="c3 cell"></td>
	    <td class="c4 cell"></td>
	    <td class="c5 cell"></td>
    </tr>
    <tr>
	    <td class="c6 cell"></td>
	    <td class="c7 cell"></td>
	    <td class="c8 cell"></td>
    </tr>
  </table>
</div>
<div id="board4">
  <table class="cells">
  	<tr>
	    <td class="c0 cell"></td>
	    <td class="c1 cell"></td>
	    <td class="c2 cell"></td>
    </tr>
    <tr>
	    <td class="c3 cell"></td>
	    <td class="c4 cell"></td>
	    <td class="c5 cell"></td>
    </tr>
    <tr>
	    <td class="c6 cell"></td>
	    <td class="c7 cell"></td>
	    <td class="c8 cell"></td>
    </tr>
  </table>
</div>