<div><a href="/player_mode">Player Mode</a><a href="/training_mode">Training Mode</a></div>
<div id="board">
  <table class="cells">
  	<tr>
	    <td id="c0" class="cell"></td>
	    <td id="c1" class="cell"></td>
	    <td id="c2" class="cell"></td>
    </tr>
    <tr>
	    <td id="c3" class="cell"></td>
	    <td id="c4" class="cell"></td>
	    <td id="c5" class="cell"></td>
    </tr>
    <tr>
	    <td id="c6" class="cell"></td>
	    <td id="c7" class="cell"></td>
	    <td id="c8" class="cell"></td>
    </tr>
  </ul>
</div>
