<div id="splash" class="modal">
		<button id="close" class="">x</button>
	<div>
		<h1>Tic-Tac-Toe Genetic Algorithm</h1>
	</div>
	<div id="button-container">
		<div>[[[ Placeholder for introduction, explanation of genetic algorithms and how site controls work ]]]</div>
	  <button id="back" class="splash-button">   < back   </button>
	  <button id="next" class="splash-button">   next >   </button>
  </div>
</div>

<div id="challenge" class="modal">
	<div id="challenge-view">
		<span>You are playing as 'O'</span><span id="result">You WIN!</span>
		<div id="challenge-board" class="board">
			<%= erb :_board %>
		</div>
  </div>
</div>

<div id="container">

	<div id="training-view">

		<div id="generation">Generation 1</div>
		<div id="training">
			<table>
				<% @row_size.times do |row| %>
					<tr class="board_element">
						<% @column_size.times do |column| %>
							<td id="board<%= row * @column_size + column + 1 %>" class="miniboard"><%= erb :_board %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>

	</div>

	<div id="controls">
		<button id="start" class="control-button" disabled="true">Start</button>
		<button id="pause" class="control-button" disabled="true">Pause</button>
		<button id="stop" class="control-button" disabled="true">Stop and Play<br>Against Best Player</button>
		
		<form id="ai-control-form">
			<div>
				<div class="ai-control-container" id="legend-container">
					<h3>Legend</h3>
					<div><div id="x-won" class="legend-color"></div> 'X' won</div>
					<div><div id="o-won" class="legend-color"></div> 'O' won</div>
					<div><div id="draw" class="legend-color"></div> draw</div>
				</div>
				<div class="ai-control-container">
					<h3>Speed</h3>
					<input type="radio" id="fast" class="ai-control" name="speed" value="" disabled checked><label for="fast"> Fast</label><br>
					<input type="radio" id="medium" class="ai-control" name="speed" value="" disabled><label for="medium" disabled> Medium</label><br>
					<input type="radio" id="slow" class="ai-control" name="speed" value="" disabled><label for="slow"> Slow</label><br>
				</div>
			</div>	
			<div class="ai-control-container">
				<input type="checkbox" id="elites" class="ai-control" disabled checked><label for="elites"> Elites</label>
			</div>
			<div>
<!-- 				<label>Population Size</label><br>
				<input class="text-input" type="text"> -->
				<label>Survival Ratio</label><br>
				<input id="survival-ratio" class="text-input ai-control" type="text" value="0.24">
				<label>Mutation Rate</label><br>
				<input id="mutation-rate" class="text-input ai-control" type="text" value="0.0007">
			</div>

			<div>
				<div id="weights">Points Assigned for Game Result:</div>
				<div><label>Player X Wins</label><br><input id="x-won-points" class="text-input ai-control" type="text" value="2"></div>
				<div><label>Player O Wins</label><br><input id="o-won-points" class="text-input ai-control" type="text" value="2"></div>
				<div><label>Game is Tied</label><br><input id="draw-points" class="text-input ai-control" type="text" value="1"></div>
			</div>
		</form>


	</div>

</div>


