<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/jquery-3.1.0.min.js"></script>
  
  <script src="/js/genome_template.js"></script>
  <script src="/js/genome_open_spaces.js"></script>
  <script src="/js/player.js"></script>
  <script src="/js/board_view.js"></script>
  <script src="/js/board.js"></script>
  <script src="/js/generation.js"></script>
  <script src="/js/game_controller.js"></script>
  <script src="/js/genetic_algorithm_ai.js"></script>
  <script src="/js/splash.js"></script>
  <script src="/js/application.js"></script>

  <title>Tic-Tac-Toe Genetic Algorithm</title>

  <link rel="icon" href="/tac.png">
</head>
<body>
  <%= yield %>
</body>
</html>
